:root {     
  --textColor : #EEEEEE;
  --darkGrey: #222831;
  --lightTurquoise : #00ADB5;
  --lightGrey : #393E46;
}


body {
  font-family: 'Raleway', sans-serif;
}
header {
  background-color: var(--darkGrey);
}
.navbar-brand {
  color: var(--textColor);
}
.navbar-brand:hover {
  color: var(--lightTurquoise);
}
.navbar .navbar-toggler {
  color: var(--lightTurquoise);
  top: .25rem;
  right: 1rem;
}
#navbar-btn {
  color: var(--textColor);
}
.position-absolute {
  position: absolute !important;
}
.sidebarMenu {
 font-size: 1.2em;
 background-color: var(--lightGrey);
} 
.sidebarMenu a{
  color: var(--textColor);
}
.sidebarMenu a:hover {
  color: var(--lightTurquoise);
}
.card {
  background-color: var(--lightTurquoise);
  color:  var(--textColor);
}